*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background-color: #fff;
}
section{
	overflow: hidden;
}
nav{
	background-color: #2e3192;
	padding: 0px 45px 0px 35px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	z-index: 2;
}
footer{
	max-width: 1366px;
	line-height: 2;
}
.icon:hover{
	transform: scale(1.1);
	color: #ee6aff;
	transition: transform 0.3s ease-in;
}
.fa-color{
	color: #fff;
}
.fa-size{
	font-size: 1.8rem;
}
.fa-padding{
	padding: 1rem 0.9rem 0px 0.9rem;
}
.footer{
	width: 100%;
	background-color: #1a1c61;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 3rem 0px;
	font-size: 1.1rem;
}
.lato{
	font-family: 'Lato', sans-serif;
}
.quicksand{
	font-family: 'Quicksand', sans-serif;
}
.wrapper{
	height: 100vh;
	background-color: #fff;
	margin: auto;
}
.logo img{
	width: 48px;
	cursor: pointer;
}
.nav-wrapper{
	z-index: 2;
	position: relative;
}
.nav-content{
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1366px;
	height: inherit;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	/*width: 29%;*/
	font-size: 20px;
	font-weight: 700;
}
.nav-links li{
	list-style: none;	
	padding: 0px 15px;
}
.nav-links li:hover{
	opacity: 0.85;
	transform: scale(0.98);
	-webkit-transform: scale(0.98);
}
.nav-links .li-last{
	border: 1px solid #fff;
	padding: 5px 16px;
	margin-top: -6px;
	margin-left: 8px;
}
.nav-links a{
	color: #f9f9f9;
	text-decoration: none;
	letter-spacing: 1px;
}
.nav-burger div{
	width: 25px;
	height: 4px;
	background-color: #fff;
	margin: 5px;
	border-radius: 20px;
}
.nav-burger{
	display: none;
	cursor: pointer;
}
.nav-burger:hover{
	opacity: 0.8;
}
.greet-container{
	padding: 16.7rem 0rem 12.5rem 0rem;
}
.greet{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.greet div:nth-child(1){
	font-size: 3.4em;
	font-weight: 900;
	color: #2e3192;
}
.greet div:nth-child(2){
	font-size: 1.4em;
	font-weight: 700;
	color: #2e3192;
}
.image-bottom{
	position: relative;
	width: 100%;
	height: 230px;
	background-size: 780px 230px;
	background-position: right;
	background-repeat: repeat-x;
}
.about-section{
	padding: 10rem 2rem 17rem 2rem;
	background-color: #2e3192;
}
.about{
	text-align: center;
	color: #fff;
}
.about-header{
	display: inline-block;
	font-weight: 700;
	font-size: 2.2rem;
}
.about-paragraph{
	display: inline-block;
	font-size: 1.4rem;
	font-weight: 300;
	padding-top: 1rem;
}
.skills-top{
	margin-top: -10rem;
}
.center{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.skills{
	display: flex;
	background-color: #fff;
	border: 1px solid #fff;
	box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	text-align: center;
	width: 60%;
}
.skills-bottom{
	padding-bottom: 6rem;
}
.column{
	flex-grow: 1;
	letter-spacing: 0.2px;
}
.col-padding{
	padding: 0px 50px 0px 50px;
}
.col-right-border{
	border-right: 1px solid #ccc;
	border-bottom: none;
}
.h3-color{
	color: #1a274d;
}
.h3-size{
	font-size: 1.5rem;
}
.h3-margin-top{
	margin-top: 61px;
}
.h4-size{
	font-size: 1.1rem;
}
.h4-bottom{
	margin-bottom: 16px;
}
.column-weight{
	font-weight: 700; 
}
.col-padding-t-b{
	padding-top: 20px;
	padding-bottom: 30px;
}
.footer .show{
	display: block;
}
.footer .none{
	display: none;
}
.mobile-nav-links-container{
	display: none;
	background-color: #2e3192;
	padding-top: 88px;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.mobile-nav-links{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 15px 0px;
    margin: 0;
}
.mobile-nav-links li{
	list-style: none;	
	padding: 10px 0px;
}
.mobile-nav-links li:hover{
	opacity: 0.85;
	transform: scale(0.98);
	-webkit-transform: scale(0.98);
}
.mobile-nav-links .li-last{
	border: 1px solid #fff;
	padding: 5px 16px;
	margin-top: 6px;
}
.mobile-nav-links a{
	color: #f9f9f9;
	text-decoration: none;
	letter-spacing: 1px;
}
@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.greet-container{
		padding: 0rem 1rem 23rem 1rem;
	}
	.greet{
		top: 235px;
		text-align: center;
	}
	.greet div:nth-child(1){
		font-size: 2.5em;
	}
	.greet div:nth-child(2) {
	    font-size: 1.05em;
	}
	.nav-links{
		display: none;
	}
	.nav-burger{
		cursor: pointer;
		display: block;
		margin-right: -15px; 
		margin-top: -10px;
	}
	.mobile-nav-show{
		display: block;
	}
	.mobile-nav-links-container{
		padding-top: 80px;
		position: fixed;
		width: 100%;
		z-index: 1;
	}
	.in-mobile{
		display: block;
		border-radius: 0px;
		width: 100%;
	}
	.col-bottom-border{
		border-right: none;
	}
	.footer .none{
		display: block;
	}
	.footer .show{
		display: none;
	}
	.skills{
		box-shadow: none;
	}
	.in-mobile-padding{
		padding: 20px 0px 0px 0px;
	}
	.in-mobile-padding-top{
		padding: 50px 0px 20px 0px;
	}
}
@media screen and (max-width: 414px){
	.greet{
		top: 225px;
		text-align: center;
	}
	.greet div:nth-child(1){
		font-size: 2em;
	}
	.greet div:nth-child(2) {
	    font-size: 0.9em;
	    padding: 0px 50px;
	}
	.logo img{
		width: 44px;
	}
	.mobile-nav-show{
		display: block;
	}
	.mobile-nav-links-container{
		padding-top: 90px;
	}
	.about-header{
		font-size: 1.8rem;
	}
	.about-paragraph{
		font-size: 1.2rem;
	}
}
.nav-active{
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
	height: 3px;
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
	height: 3px;
}
